.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.App form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.App h1 {
  font-size: 32px;
  margin: 0 auto;
  margin-bottom: 20px;
}
